In [23]:
import json
import pandas as pd

In [2]:
with open("caltech_images_20190919.json", 'r') as f:
    annotations = json.load(f)

### What's in the json file

In [10]:
annotations['info']

{'contributor': 'Sara Beery',
 'date_created': '2018-07-03 18:34:36.573636',
 'description': 'Database of camera trap images collected from the NPS and the USGS with help from Justin Brown and Erin Boydston',
 'version': 'Caltech Camera Traps',
 'year': 2018}

In [15]:
annotations['categories']

[{'id': 6, 'name': 'bobcat'},
 {'id': 1, 'name': 'opossum'},
 {'id': 30, 'name': 'empty'},
 {'id': 9, 'name': 'coyote'},
 {'id': 3, 'name': 'raccoon'},
 {'id': 11, 'name': 'bird'},
 {'id': 8, 'name': 'dog'},
 {'id': 16, 'name': 'cat'},
 {'id': 5, 'name': 'squirrel'},
 {'id': 10, 'name': 'rabbit'},
 {'id': 7, 'name': 'skunk'},
 {'id': 14, 'name': 'lizard'},
 {'id': 99, 'name': 'rodent'},
 {'id': 21, 'name': 'badger'},
 {'id': 34, 'name': 'deer'},
 {'id': 37, 'name': 'cow'},
 {'id': 33, 'name': 'car'},
 {'id': 51, 'name': 'fox'},
 {'id': 39, 'name': 'pig'},
 {'id': 40, 'name': 'mountain_lion'},
 {'id': 66, 'name': 'bat'},
 {'id': 97, 'name': 'insect'}]

In [16]:
annotations['images'][0]

{'date_captured': '2013-10-04 13:31:53',
 'file_name': 'train_val/5968c0f9-23d2-11e8-a6a3-ec086b02610b.jpg',
 'frame_num': 1,
 'height': 1494,
 'id': '5968c0f9-23d2-11e8-a6a3-ec086b02610b',
 'location': 26,
 'rights_holder': 'Erin Boydston',
 'seq_id': '6f2160eb-5567-11e8-990e-dca9047ef277',
 'seq_num_frames': 1,
 'width': 2048}

In [17]:
annotations['annotations'][0]

{'category_id': 6,
 'id': '207268a3-7d5b-11e7-884d-7845c41c2c67',
 'image_id': '58d61304-23d2-11e8-a6a3-ec086b02610b'}

In [22]:
print(len(annotations['images']))
print(len(annotations['annotations']))
print(len(annotations['categories']))

243100
245118
22

### Why are there duplicate annotations?

In [24]:
annot_df = pd.DataFrame.from_dict(annotations['annotations'])

In [26]:
annot_df.head()

,category_id,id,image_id
0,6,207268a3-7d5b-11e7-884d-7845c41c2c67,58d61304-23d2-11e8-a6a3-ec086b02610b
1,1,207268a4-7d5b-11e7-884d-7845c41c2c67,58e59acd-23d2-11e8-a6a3-ec086b02610b
2,30,207268a5-7d5b-11e7-884d-7845c41c2c67,58a6e5f1-23d2-11e8-a6a3-ec086b02610b
3,9,207268a6-7d5b-11e7-884d-7845c41c2c67,58ff0cef-23d2-11e8-a6a3-ec086b02610b
4,3,207268a7-7d5b-11e7-884d-7845c41c2c67,588f67b8-23d2-11e8-a6a3-ec086b02610b

In [27]:
image_df = pd.DataFrame.from_dict(annotations['images'])

In [28]:
image_df.head()

,date_captured,file_name,frame_num,height,id,location,rights_holder,seq_id,seq_num_frames,width
0,2013-10-04 13:31:53,train_val/5968c0f9-23d2-11e8-a6a3-ec086b02610b...,1,1494,5968c0f9-23d2-11e8-a6a3-ec086b02610b,26,Erin Boydston,6f2160eb-5567-11e8-990e-dca9047ef277,1,2048
1,2013-11-04 18:37:07,train_val/5a0b016f-23d2-11e8-a6a3-ec086b02610b...,1,1494,5a0b016f-23d2-11e8-a6a3-ec086b02610b,26,Erin Boydston,6f27ed66-5567-11e8-9e92-dca9047ef277,1,2048
2,2012-05-09 07:33:45,train_val/59b93afb-23d2-11e8-a6a3-ec086b02610b...,2,1494,59b93afb-23d2-11e8-a6a3-ec086b02610b,38,Justin Brown,6f04895c-5567-11e8-a3d6-dca9047ef277,3,2048
3,2012-03-29 02:34:13,train_val/59641f56-23d2-11e8-a6a3-ec086b02610b...,2,1494,59641f56-23d2-11e8-a6a3-ec086b02610b,38,Justin Brown,6f0385b5-5567-11e8-a80b-dca9047ef277,3,2048
4,2012-05-08 19:23:36,train_val/5a1e5306-23d2-11e8-a6a3-ec086b02610b...,2,1494,5a1e5306-23d2-11e8-a6a3-ec086b02610b,33,Justin Brown,6f0a3ccf-5567-11e8-92fb-dca9047ef277,3,2048

In [30]:
image_df.shape

(243100, 10)

In [31]:
annot_df.shape

(245118, 3)

In [32]:
# 243100 unique annotations - same as the images
annot_df['image_id'].nunique()

243100

In [39]:
dup_list = annot_df[annot_df['image_id'].duplicated()]['image_id']

In [42]:
annot_df[annot_df['image_id'].isin(dup_list)].sort_values(by=['image_id'])

# sometimes the duplicate annotations have the same category, sometimes not
# need to look at a few images..

,category_id,id,image_id
34276,3,26086,5858c0ac-23d2-11e8-a6a3-ec086b02610b
34275,3,26085,5858c0ac-23d2-11e8-a6a3-ec086b02610b
42849,6,db10e7e8-05ea-11e8-b642-dca9047ef277,5858c105-23d2-11e8-a6a3-ec086b02610b
42850,10,29cec31f-a2c8-4992-b362-9eece84c9555,5858c105-23d2-11e8-a6a3-ec086b02610b
60186,8,26253,5858c117-23d2-11e8-a6a3-ec086b02610b
60187,8,26254,5858c117-23d2-11e8-a6a3-ec086b02610b
42883,6,db10f5cf-05ea-11e8-973d-dca9047ef277,5858c11b-23d2-11e8-a6a3-ec086b02610b
42884,10,3d45bea8-735b-4684-88d9-2358147fa6f4,5858c11b-23d2-11e8-a6a3-ec086b02610b
24237,3,27840,5858c226-23d2-11e8-a6a3-ec086b02610b
24236,3,27839,5858c226-23d2-11e8-a6a3-ec086b02610b
62451,8,13051,5858c246-23d2-11e8-a6a3-ec086b02610b
62450,8,13050,5858c246-23d2-11e8-a6a3-ec086b02610b
42870,6,db10f128-05ea-11e8-b62c-dca9047ef277,5858c2ed-23d2-11e8-a6a3-ec086b02610b
42871,10,9d20e01b-9e2b-409b-bcd7-cb3a6ec40c5c,5858c2ed-23d2-11e8-a6a3-ec086b02610b
212884,9,a1481ba8-48a9-4321-9931-6ba92871f7da,585a6346-23d2-11e8-a6a3-ec086b02610b
212883,9,11677,585a6346-23d2-11e8-a6a3-ec086b02610b
63504,3,29397,585a6410-23d2-11e8-a6a3-ec086b02610b
63505,3,29398,585a6410-23d2-11e8-a6a3-ec086b02610b
43127,10,7f1aa8eb-dbc0-4587-b0fd-8cfd4c2b46bf,585a6471-23d2-11e8-a6a3-ec086b02610b
43126,6,db116807-05ea-11e8-a3ca-dca9047ef277,585a6471-23d2-11e8-a6a3-ec086b02610b
56903,3,25819,585c0330-23d2-11e8-a6a3-ec086b02610b
56902,3,25818,585c0330-23d2-11e8-a6a3-ec086b02610b
210291,8,43483,585c0351-23d2-11e8-a6a3-ec086b02610b
210292,8,43484,585c0351-23d2-11e8-a6a3-ec086b02610b
34934,10,8356,585c0451-23d2-11e8-a6a3-ec086b02610b
34935,10,8357,585c0451-23d2-11e8-a6a3-ec086b02610b
41545,11,31397,585c048b-23d2-11e8-a6a3-ec086b02610b
41544,11,31396,585c048b-23d2-11e8-a6a3-ec086b02610b
39185,8,13280,585c048f-23d2-11e8-a6a3-ec086b02610b
39184,8,13279,585c048f-23d2-11e8-a6a3-ec086b02610b
...,...,...,...
220371,11,22189,5a2af621-23d2-11e8-a6a3-ec086b02610b
220372,11,22190,5a2af621-23d2-11e8-a6a3-ec086b02610b
36613,11,14785,5a2af69f-23d2-11e8-a6a3-ec086b02610b
36614,11,14786,5a2af69f-23d2-11e8-a6a3-ec086b02610b
22170,3,8076,5a2af6c9-23d2-11e8-a6a3-ec086b02610b
22171,3,8077,5a2af6c9-23d2-11e8-a6a3-ec086b02610b
209735,9,4140,5a2c840a-23d2-11e8-a6a3-ec086b02610b
209734,9,4139,5a2c840a-23d2-11e8-a6a3-ec086b02610b
16174,8,6146,5a2c8599-23d2-11e8-a6a3-ec086b02610b
16173,8,6145,5a2c8599-23d2-11e8-a6a3-ec086b02610b
12379,3,10975,5a2c85af-23d2-11e8-a6a3-ec086b02610b
12378,3,10974,5a2c85af-23d2-11e8-a6a3-ec086b02610b
14685,9,21949,5a2c85f8-23d2-11e8-a6a3-ec086b02610b
14684,9,21948,5a2c85f8-23d2-11e8-a6a3-ec086b02610b
18217,8,18788,5a2c861e-23d2-11e8-a6a3-ec086b02610b
18216,8,18787,5a2c861e-23d2-11e8-a6a3-ec086b02610b
21738,3,5072,5a2c8678-23d2-11e8-a6a3-ec086b02610b
21739,3,5073,5a2c8678-23d2-11e8-a6a3-ec086b02610b
4138,16,29895,5a2c86f1-23d2-11e8-a6a3-ec086b02610b
4137,16,29894,5a2c86f1-23d2-11e8-a6a3-ec086b02610b
12198,3,20987,5a2c870d-23d2-11e8-a6a3-ec086b02610b
12197,3,20986,5a2c870d-23d2-11e8-a6a3-ec086b02610b
21793,3,22858,5a2c874e-23d2-11e8-a6a3-ec086b02610b
21792,3,22857,5a2c874e-23d2-11e8-a6a3-ec086b02610b
36590,6,16809,5a2c8779-23d2-11e8-a6a3-ec086b02610b
36589,6,16808,5a2c8779-23d2-11e8-a6a3-ec086b02610b
15209,9,20211,5a2e1243-23d2-11e8-a6a3-ec086b02610b
15208,9,20210,5a2e1243-23d2-11e8-a6a3-ec086b02610b
22493,6,3740,5a2e1388-23d2-11e8-a6a3-ec086b02610b
22492,6,3739,5a2e1388-23d2-11e8-a6a3-ec086b02610b

### Map animal name and look at distribution

In [54]:
category_id = []
category_name = []

for i in annotations['categories']:
    category_id.append(i['id'])
    category_name.append(i['name'])
    
category_dict = dict(zip(category_id, category_name))
category_dict

{1: 'opossum',
 3: 'raccoon',
 5: 'squirrel',
 6: 'bobcat',
 7: 'skunk',
 8: 'dog',
 9: 'coyote',
 10: 'rabbit',
 11: 'bird',
 14: 'lizard',
 16: 'cat',
 21: 'badger',
 30: 'empty',
 33: 'car',
 34: 'deer',
 37: 'cow',
 39: 'pig',
 40: 'mountain_lion',
 51: 'fox',
 66: 'bat',
 97: 'insect',
 99: 'rodent'}

In [55]:
annot_df['category_name'] = annot_df['category_id'].map(category_dict)

In [56]:
annot_df.head()

,category_id,id,image_id,category_name
0,6,207268a3-7d5b-11e7-884d-7845c41c2c67,58d61304-23d2-11e8-a6a3-ec086b02610b,bobcat
1,1,207268a4-7d5b-11e7-884d-7845c41c2c67,58e59acd-23d2-11e8-a6a3-ec086b02610b,opossum
2,30,207268a5-7d5b-11e7-884d-7845c41c2c67,58a6e5f1-23d2-11e8-a6a3-ec086b02610b,empty
3,9,207268a6-7d5b-11e7-884d-7845c41c2c67,58ff0cef-23d2-11e8-a6a3-ec086b02610b,coyote
4,3,207268a7-7d5b-11e7-884d-7845c41c2c67,588f67b8-23d2-11e8-a6a3-ec086b02610b,raccoon

In [61]:
annot_df.groupby('category_name').image_id.count().sort_values()

category_name
pig                   2
bat                   3
insect                6
badger               50
mountain_lion       145
lizard              309
skunk              1898
fox                2574
cow                3626
rodent             4279
squirrel           4450
dog                4512
car                4717
cat                5297
bobcat             8098
bird              10003
raccoon           11390
deer              12196
rabbit            12519
coyote            16601
opossum           16698
empty            125745
Name: image_id, dtype: int64